repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        name: Ruff runs the linter
        description: This hook runs ruff and attempts auto-fixes.
        types_or: [python, pyi, jupyter]
        args: [--exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
        name: Ruff runs the formatter Attempt Auto-Fixes
        description: This hook runs ruff and attempts auto-fixes.
        types_or: [python, pyi, jupyter]
